*{
    box-sizing: border-box;
    
}

body {
    font-family: "Tahoma";
    background-color: wheat;
    
display: flex;
    flex-direction: column;
   
}

.Welcome {
    background-color: cadetblue;
    color: rgb(224, 230, 240);
    display: flex;
    flex-direction: row;
    font-weight: 400 700;
    width: 90%;
    padding: 100px;
    margin: 100px;
    border-radius: 15px;
   
}

#welcomemessage {
    background-color: #3E8E7E;
    color:rgb(13, 19, 54);
    padding: 30px 30px;
    display: flex;
    flex-direction: start;
    width: 100%;
    text-align: center;
    box-sizing: border-box;

    transition: width 1s, height 1s, background-color 1s;
    transition-timing-function: ease-in-out;
    position: relative;
  
}

#welcomemessage h1 {
    animation-name: slide;
    animation-direction: reverse;
}

#welcomemessage:hover {
    background-color: #FF6464;
    
}


/* #mainpic {

    display: flex;
    justify-content: center;
    width: 30%;
    height: ;
    padding: 80px;
    border-radius: 20px;
   
} */

/* Navbar */

.navbar {

    background-color: rgb(13, 19, 54);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 5px 5px;
    /* width: 30%; */
    /* margin: 20px; */
}

.navbar ul{
    /* padding: 30px; */
    /* margin: 20px 0px; */
    font-size: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar ul li {
    font-family: "Tahoma";
    text-decoration: none;
    display: flex;
    flex-direction: row;
    
    padding: 20px;
  
}

.navbar ul li a {
    text-decoration: none;
    color: wheat;
    
}

.navbar a:hover {
    background-color: #7CD1B8;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
}


.socialmedia {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 40px;
    text-decoration: none;
}

.fa {
    padding: 20px 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }
  
  /*hover effect*/
  .fa:hover {
    opacity: 0.7;
    color: white;
  }
  
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    text-decoration: none;

  }
  
  .fa-linkedin{
    background: #4275e2;
    color: white;
    border-radius: 50%;
    text-decoration: none

  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
    text-decoration: none
  }



/* General structure */

.headings {
    color:rgb(13, 19, 54);
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    padding: 100px 25px;
    margin: 20px;
}


/* About Me Section */




#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: start;
    padding: 20px 200px;
    

}

#aboutme p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color:rgb(13, 19, 54);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px;
    background-color: #3E8E7E;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}
/* Education section */

.edulist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 22px;
   
}

.edulist p {

    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(13, 19, 54);
    /* width:400px; */
    /* text-align: center; */
    /* padding-left: 300px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px; */
}


#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.worklist {
    
    width: 100%;
    font-size: 20px;
    text-align: center;
    /* padding: 100px 70px; */
}

.worklist ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(13, 19, 54);
}


/* Work History */

.cvheadings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 30px 30px;
    color:rgb(13, 19, 54);
}


/* Contact Form */

.contactlabels {
    display: flex;
    padding: 10px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 100%;
    border: none;
    outline: none;
}

#message {
    padding: 12px;
    margin: 15px;
    width: 100%;
    border: none;
    outline: none;
}

#contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 100px;
}

#send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    width: 100%;
    margin: 15px;
    
}


/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    text-decoration: none;
}

.footer h6 {
    padding-top: 50px;
}

#scrollbutton {
   
    background-color: #7CD1B8;
    color: white;
    width: 100px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    
}


@media screen {
    
   
}